/*****
Paleta de coleres del proyecto: 
https://coolors.co/palette/000814-001d3d-003566-ffc300-ffd60a
*****/
#body{
    margin: 0;
    padding: 0;
}

#main .carousel-inner img{
    max-height: 80vh;
    object-fit: cover;
    filter:grayscale(80%)
}

#carousel{
    position: relative; /*Para que se adapte a la pantalla*/
}

.overlay {
    position:absolute; /* Para que se adapta al caruosel*/
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFD60A;
}


#text-llamado{
    color: #FFD60A !important;
    font-size: 18px;
    font-weight: 900;
}

#header{
    background-color: #003566;
    
}
#header a{
    color: #FFD60A;
    font-family: "Roboto", Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo{
    max-height: 80px;
    max-width: 80px;
}

#footer{
    background-color: #000814;
}

#carusel{
    max-height: 80vh;
    object-fit: cover;
    filter: sepia(30%);
    height: 400px;
    width: 400px;
    position: absolute;
    left: 500px;
    

}

#evento-marca{
    background-color: #003566;
    color: #FFD60A;
}

#evento-marca img{
    max-width: 100%;   
}